%p#notice= notice

%p

  %b Name
  = complaint.censored(:name)
  %br
  %br

  %b Content
  = complaint.censored(:content)
  %br
  %br

  %b Url
  = complaint.link
  %br
  %br

= link_to 'Edit', edit_complaint_path(complaint)
\|
= link_to 'Back', complaints_path, class: 'btn btn-primary'
